# Auto detect text files and perform LF normalization
* text=auto

*.java       text
*.properties text
*.txt        text
*.pom        text
*.xml        text
*.sh         text eol=lf
*.bat        text eol=crlf
*.cmd        text eol=crlf
*.class      binary
*.jar        binary
*.war        binary
*.ear        binary
*.png        binary
*.jpg        binary

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
